.login-page {
    padding-top:px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #f4f4f4;
}


.login {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    text-align: center;
}


.login h2 {
    margin: 20px;
    font-size: 34px;
    font-weight: 600;
}

.login-input-fields {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.login-input-fields label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.login-input-fields input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    height: 32px;
}

.login-input-fields input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}


.login-btn button {
    width: 100%;
    height: 50px;
    padding: 10px;
    background:  #2C9CF0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top:10px;
    
}

.login-btn button:hover {
    background: #1b7dc4;
    font-size: 19px;
}

.login-signup-agree {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.login-signup-agree input {
    margin-right: 8px;
    transform: scale(1.1);
    cursor: pointer;
}



